
.hole{
    background-color: lightblue;
}
.card{
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
}

.hole{
    width: 50px;
}
.names{
    display: flex;
    justify-content: space-between;
}
.playerList{
    margin: 10px;
}
.namesIn{
    display: flex;
}
#player :focus{
    outline: none;
}