
.hole{
    background-color: lightblue;
}
.card{
    border: 2px solid darkgray;
    border-radius: 5px;
}
.names{
    display: flex;
    justify-content: space-between;
}
.playerList{
    margin: 10px;
}
.namesIn{
    display: flex;
}
#player :focus{
    outline: none;
}