body{
    background-image: url("http://www.crystallakegolfcourse.com/_assets/images/hero/16-green.jpg");
    background-size: cover;
    box-sizing: border-box;
}
.wider {
    width: 500px;
}
.card{
    display: flex;
    padding: 20px;
}

.card div{
    padding: 3px;
}

#courseName{
    font-size: 3em;
    padding: 20px;
}
.hole{
    max-width: 40px;
}
.main{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
#messageBox{
    display: flex;
    justify-content: center;
}
.names{
    display: flex;
    justify-content: space-between;
}
.playerList{
    margin: 10px;
}
.namesIn{
    display: flex;
}
#player :focus{
    outline: none;
}
.column {
    background-color: aliceblue;
    text-align: center;
}

input{
    text-align: center;
}
.inputFrame{
    max-height: 20px;
    background-color: aliceblue;
    text-align: center;
}
h3{
    color: whitesmoke;
    background-color: green;
    padding: 5px;
    border-radius: 5px;
}